body {
  margin: 0;
  padding: 0;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 0;
}

.top-image {
  width: 100%;
}

article {
  width: 500px;
  background: white;
  padding: 20px;
  display: relative;
  margin-top: -10%;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px grey;
}
header {
  display: flex;
  gap: 20px;
}
header img {
  width: 25px;
}
header h1 {
  font-size: 40px;
  margin: 0;
}
h3 {
  font-size: 16px;
}
h3:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: hsl(281, 83%, 54%);
}
section {
  display: flex;
  justify-content: space-between;
}
hr {
  background-color: gray;
}
.hide {
  display: none;
}
.btn {
  cursor: pointer;
}
p{
    color: gray;
    font-size: 15px;
}
.question{
    padding-left: 10px;
    /* padding-right: 10px; */
}
button{
    border: none;
    background: transparent;
    margin: 0;padding: 0;
}
@media (max-width: 600px) {
  article {
    width: 330px;
    background: white;
    padding: 20px;
    display: relative;
    margin-top: -20%;
    margin-bottom: 100px;
  }
  .top-image {
    width: 100%;
    object-fit: fill;
  }
  picture {
    width: 100%;
  }
}
