@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
p{
    margin: 0;padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: hsl(148, 38%, 91%);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    flex-direction: column;

}
main{
    background-color: white;
    padding: 20px;

    border-radius: 10px;
    
    width: 600px;
    margin-bottom: 50px;
    margin-top: 20px;
    

}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* margin-bottom: 20px; */
    

}
.name input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.first{
    width: 60%;
}
.last{
    width: 60%;
}
form{
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;
    
}
label{
    font-size: 12px;
}

.email input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

.radi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}
.radio-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
}
.message textarea{
    width: 100%;
    height: 60px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid black;

    border-radius: 5px;
}
.message{
    /* margin-bottom: 20px; */
}
input{
    padding-left: 5px;
    cursor: pointer;
}
.check{
    font-size: 12px;
}
.final{
    display: flex;
    gap: 10px;
    /* margin-bottom: 20px; */
}

button[type="submit"]{
    height: 35px;
    background-color: hsl(169, 82%, 27%);
    font-weight: 500;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    
}
.error{
    /* display: none; */
    visibility: hidden;
    color:red;
    font-size: 12px;
    margin-bottom: 20px;
    

}
#firstname:focus{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#firstname:active{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#firstname:hover{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#emailId:focus{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#emailId:active{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#emailId:hover{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#lastname:focus{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#lastname:active{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#lastname:hover{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
textarea:focus{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
textarea:active{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
textarea:hover{
    border: 2px solid hsl(186, 15%, 59%);
    outline: none;
}
#firstname{
    width: 100%;
}
#lastname{
    width: 100%;
}

.toastBox{
    
    
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    background: hsl(187, 24%, 22%);
    color: white;
    border-radius: 10px;
    margin-top: 10px;

    transition: all 0.5s ease-in-out;

}
.toastBox div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    
    
}


.radio-container:hover{
    background-color: hsl(148, 38%, 91%);
}


@media (max-width:650px){
    main{
        width: 350px;
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .first{
        width: 100%;
        height: 60px;
    }
    .last{
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
    }
    .radi{
        display: flex;
        flex-direction: column;
    }
}